[% # Provide a title -%]
[% META title = 'List of Works' -%]
    
<ul>
[% FOREACH work IN works.sort('title')-%]
<li><a href="/works/[% work.id %]">[% work.title %]</a> by
[% FOREACH a IN work.authors %]
<a href="/authors/[% a.id %]">[% a.name %]</a> [% END %]</li>
[% END -%]
</ul>
