[% title = 'Actors' -%]
<div class="book-banner">
  <div class="book-banner-overlay">
    <h1 class="display-3">[% title or 'Literature on TV' %]</h1>
  </div>
</div>

<ul>
[% FOREACH a IN actors.all.sort('name')-%]
<li><a href="/actors/[% a.slug %]/">[% a.name %]</a></li>
[% END -%]
</ul>
