[% # Provide a title -%]
[% META title = 'List of Actors' -%]

<h1 class="display-3">[% template.title or 'Literature on TV' %]</h1>

<ul>
[% FOREACH a IN actors.all.sort('name')-%]
<li><a href="/actors/[% a.slug %]/">[% a.name %]</a></li>
[% END -%]
</ul>
