[% title = 'Productions' -%]

<ul>
[% FOREACH p IN productions.all.sort('year', 'title')-%]
<li><a href="/productions/[% p.slug %]/">[% p.title %]</a>
      ([% p.description %])</li>
[% END -%]
</ul>
