[% title = 'Productions' -%]

<h1 class="display-3">[% title or 'Literature on TV' %]</h1>

<ul>
[% FOREACH p IN productions.all.sort('year', 'title')-%]
<li><a href="/productions/[% p.slug %]/">[% p.title %]</a>
      ([% p.description %])</li>
[% END -%]
</ul>
